Connected Services/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertarService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sa" type="tns:SalidaProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SalidaProducto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="cantidad_salida" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sku" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="numSalida" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertarServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarServiceResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="traerStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sku" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="traerStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="traerStockResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="serviceActualizaC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sku" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="serviceActualizaCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="serviceActualizaCResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertarServiceSoapIn">
    <wsdl:part name="parameters" element="tns:insertarService" />
  </wsdl:message>
  <wsdl:message name="insertarServiceSoapOut">
    <wsdl:part name="parameters" element="tns:insertarServiceResponse" />
  </wsdl:message>
  <wsdl:message name="traerStockSoapIn">
    <wsdl:part name="parameters" element="tns:traerStock" />
  </wsdl:message>
  <wsdl:message name="traerStockSoapOut">
    <wsdl:part name="parameters" element="tns:traerStockResponse" />
  </wsdl:message>
  <wsdl:message name="serviceActualizaCSoapIn">
    <wsdl:part name="parameters" element="tns:serviceActualizaC" />
  </wsdl:message>
  <wsdl:message name="serviceActualizaCSoapOut">
    <wsdl:part name="parameters" element="tns:serviceActualizaCResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="insertarService">
      <wsdl:input message="tns:insertarServiceSoapIn" />
      <wsdl:output message="tns:insertarServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="traerStock">
      <wsdl:input message="tns:traerStockSoapIn" />
      <wsdl:output message="tns:traerStockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="serviceActualizaC">
      <wsdl:input message="tns:serviceActualizaCSoapIn" />
      <wsdl:output message="tns:serviceActualizaCSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarService">
      <soap:operation soapAction="http://tempuri.org/insertarService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traerStock">
      <soap:operation soapAction="http://tempuri.org/traerStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="serviceActualizaC">
      <soap:operation soapAction="http://tempuri.org/serviceActualizaC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarService">
      <soap12:operation soapAction="http://tempuri.org/insertarService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traerStock">
      <soap12:operation soapAction="http://tempuri.org/traerStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="serviceActualizaC">
      <soap12:operation soapAction="http://tempuri.org/serviceActualizaC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://localhost:44312/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://localhost:44312/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>